.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    max-width: 600px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    /* border: '1px solid #ccc'; */
}
