.product-info {
    flex: 4;
    background-color: #f1dede;
}

.product-information {
    padding: 10px 10px;
    font-size: 18px;
    height: 40px
}

.product-information > div {
    padding-bottom: 15px;
}


.product-button-detail {
    align-items: center;
    text-align: center;
    margin-top: 70px;
    height: 50px
}
